extends ./layout.pug
block content
  div(class="col-md-8 center-block big-top-page text-center remove-float")
    header
      h1 Bienvenido
    hr
  div(class="col-md-8 center-block big-top-page text-center remove-float")
    a(href="login"  class="right-space") Iniciar Sesion
    a(href="register_user") Registrar Usuario