extends ./layout.pug
block content
  div(class="col-md-4 center-block big-top-page text-center remove-float")
    form(action="/checkUser" method="POST")
      div(class="row")
        div(class="col-md-12")
          input(type="text" name="username" id="user" placeholder="Username" class="form-control top-page" require)
      div(class="row")
        div(class="col-md-12")
          input(type="password" name="password" id="passw" placeholder="Password" class="form-control top-page" require)
      div(class="row")
        div(class="col-md-12")
          input(type="submit" value="Iniciar Sesion" id="inicio_sesion" class="btn btn-primary top-page")